<footer class="bg-main-light py-5">
    <div class="container">
        <h3>Get The FreshCart App</h3>
        <p class="text-capitalize text-muted">we will send you a link</p>
        <div class="d-flex gap-4">
            <input type="email" placeholder="Email...." class="form-control">
            <button class=" btn bg-main flex-shrink-0 text-white">Share App Link</button>
        </div>
        <hr>
        <p class="h6 text-center text-muted"> &copy;2024 Aya Salah All Rights Reserved</p>
    </div>
</footer>
