$bgColor:#0aad0a;
:host
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.main-section
{
    padding-top: 80px;
}

.btn-up
{
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: $bgColor;
    border: unset;
    color: white;

}